<!-- <table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Height</th>
      <th>Timestamp</th>
      <th>Transactions</th>
      <th>Mined by</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let block of items | async">
      <td><a routerLink="/block/{{ block.number }}">{{ block.number }}</a></td>
      <td>{{ block.timestamp | humanTime }}</td>
      <td>{{ block.transactions != null ? block.transactions.length : 0 }}</td> 
      <td>{{ block.miner | slice:0:15 }}</td>
      <td>{{ block.size }}</td>
    </tr>
  </tbody>
</table> -->
<div class="card" *ngFor="let block of items | async">
  <!-- <header class="card-header">
      
    </header> -->
  <div class="card-content" style="padding: 1rem;">
    <div class="content"> 
      <p class="subtitle ">
        Block No: {{ block.number }}
      </p>
      <p class="field is-size-7" style="font-size: 0.8rem">
        <span class="icon">
        <i class="fa fa-clock-o"></i>
      </span> {{ block.timestamp | humanTime }}
        <span class="icon .has-text-right">
          <i class="fa fa-hashtag"></i>
        </span> {{ block.hash | slice:0:30 }}
      </p>
      <!-- <small>{{ block.miner | slice:0:15 }}</small>
      <small>Block Size: {{ block.size }}</small> -->
    </div>
  </div>
</div>