<nav class="navbar">
  <div class="container">

    <div class="navbar-brand">
      <a href="/" class="navbar-item">ethX</a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item">
          <span class="emoji">🔨</span>
          Blocks
        </a>
        <a href="#" class="navbar-item">
          <span class="emoji">💎</span>
          Transactions
        </a>
        <a href="#" class="navbar-item">
          <span class="emoji">🔥</span>
          Stats
        </a>
      </div>
    </div>
    
  </div>
</nav>

<app-block-list></app-block-list>