<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<nav class="navbar is-transparent">
  <div class="container">

    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">
        <img src="/assets/logo2.png" alt="">
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        
        <a routerLink="/blocks" class="navbar-item">
          Blocks
        </a>
        <a routerLink="/transactions" class="navbar-item">
          <span class="emoji"></span>
          Transactions
        </a>
        <a href="#" class="navbar-item">
          <span class="emoji"></span>
          Stats
        </a>
        <div class="control has-addons-right navbar-item">
            <input class="input" type="text" placeholder="Txn/Blocks/Hash">
            <p class="control">
                <a class="button is-primary">
                    <span class="icon">
                        <i class="fa fa-search"></i>
                      </span>
                </a>
              </p>
          </div>
      </div>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>