<section class="section">
  <div class="container">
    <h1 class="title">Transactions</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Hash</th>
          <th>Block</th>
          <th>From</th>
          <th>To</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let txn of items | async">
          <td><a routerLink="/block/{{ txn.hash }}">{{ txn.hash | slice:0:15 }}</a></td>
          <td>{{ txn.blockNumber }}</td>
          <td>{{ txn.from | slice:0:15 }}</td>
          <td>{{ txn.to | slice:0:15 }}</td>
          <td>{{ txn.timestamp }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</section>