<table class="table">
  <thead>
    <tr>
      <th>Hash</th>
      <!-- <th>Block</th> -->
      <!-- <th>From</th> -->
      <!-- <th>To</th> -->
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let txn of items | async">
      <td>
        <span *ngIf="txn.to">
          💰
        </span>
        <a routerLink="/transaction/{{ txn.hash }}">{{ txn.hash | slice:0:15 }}</a></td>
      <!-- <td>{{ txn.blockNumber }}</td> -->
      <!-- <td>{{ txn.from | slice:0:15 }}</td> -->
      <!-- <td>{{ txn.to | slice:0:15 }}</td> -->
      <td>{{ txn.timestamp | humanTime }}</td>
    </tr>
  </tbody>
</table>
